@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,600,400italic,300,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,500,400italic,700,500italic,700italic);

body {
    margin: 0;
    padding: 0;
    background-color:#fff;
    font-family: "Open Sans", sans-serif ;
}

header {
    background-color:#3498db;
    height:70px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.logo {
    color: #fff;
    font-size: 30px;
    text-transform:uppercase;
    line-height: 70px;
    font-weight: 800;
}

.container_header {
    width: 1000px;
    margin: auto;
}

.menu {
    padding: 0;
    margin: 0;
}

.menu .title {
    display: inline-block;
    float: left;
    position: relative;
    padding: 0px 10px;
    transition: O.5s;
}

.menu .title a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

.menu .title:hover {
    background-color: #2980b9
}

.menu .sous_menu {
    display: block;
    position: absolute;
    visibility: hidden;
    height: 0;
    top: 70px;
    left: 0;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: transform 1s ease;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(34,36,38,0.15);
    border: 1px solid rgba(34,36,38,0.15);
    border-radius: 0 0 5px 5px;
}

.menu .title:hover .sous_menu{
    visibility: visible;
    height: auto;
    transform: scaleY(1);
}

.menu .sous_menu li {
    padding: 0;
    display: inline-block;
    color: #000;
    float: left;
    width: 150px;
    margin-left: -40px;
    padding: 5px;
    transition: 0.2s;
}

.menu .sous_menu li a{
    text-transform: none;
    color: #242424;
    padding: 0 0 0 5px;
    font-weight: normal;
    font-size: 14px;
}

.menu .sous_menu li:hover{
    background-color: #f9f9f9;
    border-left: 3px solid #3498db;
}

#search{
    width: 30px;
    margin: 20px;
    padding: 5px;
    border-radius: 40px;
    padding-left: 20px;
    transition: width 2s;
    transition: width 2s;
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -o-transition: width 2s;
    -ms-transition: width 2s;
}

#search:focus {
    width: 200px;
}

.loupe{
    width:1%;
}