<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>album</title>
        <title>Bande De Hoey</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../static/css/header.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../static/javascript/album.js"></script>
        <script>
            $(function(){
                $("#header").load("header.html");
            });
        </script>
    </head>
    <body>
        <div id="header"></div>
        <div>
            <label for="album-select">Recherche par :</label>
            <select name="album" id="album-select">
                <option value="title">by title</option>
                <option value="auteur">by auteur's name</option>
                <option value="serie">by serie</option>
                <option value="isbn">by ISBN</option>
                <option value="all">all</option>
            </select>
        </div>
        <div>
            <input type="search" id="id-search" name="search" placeholder="Recherche...">
            <input type="submit" name="submit-id" id="submit-id" value="Validez"/>
        </div>
        <table >
            <thead>
            </thead>
            <tbody id="table">
                <tr>
                    <th>titre</th>
                    <th>serie</th>
                    <th>format</th>
                    <th>type</th>
                    <th>ISBN</th>
                    <th>ordre</th>
                    <th>image</th>
                    <th>auteurs</th>
                </tr>
            </tbody>
        </table>
    </body>
</html>