<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auteur</title>
    <title>Bande De Hoey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/header.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="../static/javascript/auteur.js"></script>
    <script>
        $(function(){
            $("#header").load("header.html");
        });
    </script>
</head>
<body>
<div id="header"></div>
<div>
    <label for="auteur-select">Recherche par :</label>
    <select name="album" id="auteur-select">
        <option value="name">by name</option>
        <option value="album">by album's title</option>
        <option value="serie">by serie' title</option>
    </select>
</div>
<div>
    <input type="search" id="auteur-search" name="search" placeholder="Recherche...">
    <input type="submit" name="submit"  value="Validez" onclick="auteur();"/>
</div>
</body>
</html>