<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auteur</title>
    <title>Bande De Hoey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/header.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/javascript/auteur.js"></script>
    <script>
        $(function(){
            $("#header").load("header.html");
        });
    </script>
</head>
<body>
<div id="header"></div>
<div>
    <label for="auteur-select">Recherche par :</label>
    <select name="album" id="auteur-select">
        <option value="name">by name</option>
        <option value="album">by album's title</option>
        <option value="serie">by serie' title</option>
        <option value="all">all</option>
    </select>
</div>
<div>
    <input type="search" id="id-search" name="search" placeholder="Recherche...">
    <input type="submit" name="submit" id="submit-id" value="Validez" />
</div>

<table >
    <thead>
        <tr>
            <th colspan="2">The table header</th>
        </tr>
    </thead>
    <tbody id="table">
        <tr>
            <th>nom</th>
            <th>prenom</th>
            <th>serie</th>
            <th>album</th>
        </tr>
    </tbody>
</table>
</body>
</html>