<header>
<div class="container_header">
        <div class="left">
            <div class="logo">
                Bande de Hoey
            </div>
        </div>
        <div class="right">
            <div class="logo">
                <ul class="menu">

                    <li class="title">
                        <a href="serie.html">
                            Serie
                            <i class=" fa fa-angle-down"></i>
                        </a>
                    </li>

                    <li class="title">
                        <a href="album.html">
                            Album
                            <i class=" fa fa-angle-down"></i>
                        </a>
                    </li>

                    <li class="title">
                        <a href="auteur.html">
                            Auteur
                            <i class=" fa fa-angle-down"></i>
                        </a>
                    </li>

                    <li class="title">
                        <a href="profile.html">
                            Profile
                            <i class=" fa fa-angle-down"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>