<header>
<div class="container_header">
        <div class="left">
            <div class="logo">
                Bande de Hoey
            </div>
        </div>
        <div class="right">
            <div class="logo">
                <ul class="menu">
                    <li class="title">
                        <a href="#">
                            accueil
                            <i class=" fa fa-angle-down"></i>
                        </a>
                        <ul class="sous_menu">
                            <li><a href="">Page d'accueil</a></li>
                            <li><a href="">Les plus lus</a></li>
                            <li><a href="">Les mieux notés</a></li>
                        </ul>
                    </li>

                    <li class="title">
                        <a href="#">
                            Serie
                            <i class=" fa fa-angle-down"></i>
                        </a>
                        <ul class="sous_menu">
                            <li><a href="" class="shonen">Toutes les séries</a></li>
                            <li><a href="" class="shojo">Par titre</a></li>
                            <li><a href="" class="shojo">Par genre</a></li>
                            <li><a href="" class="seinen">Par format</a></li>
                            <li><a href="" class="josei">Par état</a></li>
                            <li><a href="" class="josei">Par auteur</a></li>
                        </ul>
                    </li>

                    <li class="title">
                        <a href="#">
                            Album
                            <i class=" fa fa-angle-down"></i>
                        </a>
                        <ul class="sous_menu">
                            <li><a href="" class="shonen">Tous les albums</a></li>
                            <li><a href="" class="shojo">Par titre</a></li>
                            <li><a href="" class="josei">Par série</a></li>
                            <li><a href="" class="seinen">Par isbn</a></li>
                            <li><a href="" class="josei">Par auteur</a></li>
                        </ul>
                    </li>

                    <li class="title">
                        <a href="#">
                            Auteur
                            <i class=" fa fa-angle-down"></i>
                        </a>
                        <ul class="sous_menu">
                            <li><a href="" class="shonen">Tous les auteurs</a></li>
                            <li><a href="" class="shojo">Par nom</a></li>
                            <li><a href="" class="seinen">Par album</a></li>
                            <li><a href="" class="josei">Par série</a></li>
                        </ul>
                    </li>

                    <li class="title">
                        <a href="#">
                            Utilisateur
                            <i class=" fa fa-angle-down"></i>
                        </a>
                        <ul class="sous_menu">
                            <li><a href="" class="shonen">Tous les utilisateurs</a></li>
                            <li><a href="" class="shojo">Par pseudo</a></li>
                            <li><a href="" class="seinen">Par nom</a></li>
                            <li><a href="" class="josei">Par prénom</a></li>
                            <li><a href="" class="josei">Par mail</a></li>
                        </ul>
                    </li>

                    <li class="title">
                        <a href="#">
                            Mon compte
                            <i class=" fa fa-angle-down"></i>
                        </a>
                        <ul class="sous_menu">
                            <li><a href="">Me concernant</a></li>
                            <li><a href="">Mes favoris</a></li>
                            <li><a href="">Lus / En cours </a></li>
                            <li><a href="">Modifier compte</a></li>
                        </ul>
                    </li>
                    <input type="search" id="search" name="search" placeholder="Recherche...">
                </ul>
            </div>
        </div>
    </div>
</header>