<!DOCTYPE HTML>
<html>
<head>
    <title>Bande De Hoey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/header.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function(){
            $("#header").load("header.html");
        });
    </script>
</head>
<body>
<!--<ul>
    <li th:each="fact : ${facts}" th:text="${fact.name}"></li>
</ul>-->
<div id="header"></div>
    <div class="container_series">
        <button class="btnShow" onclick='populateTableList()'>Tout Montrer</button>
        <table class="table table-image">
            <thead class="thread-dark">
                <tr class="text-center">
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Etat</th>
                    <th>Format</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody id="serieList"></tbody>
        </table>
    </div>
<script src="../static/javascript/listeSeries.js"></script>
</body>
</html>
