<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <title>Bande De Hoey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/javascript/profile.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link href="../static/css/header.css" rel="stylesheet" />

    <script>
        $(function(){
            $("#header").load("header.html");
        });
    </script>
</head>
<body class="vh-100 vw-100">

<div id="header"></div>

<div class="d-flex justify-content-around w-100">
    <button type="button" class="btn btn-secondary rounded-circle">deconnexion</button>

    <button type="button" class="btn btn-danger">supprimer compte</button>
</div>

<div class="d-flex justify-content-around vw-100 vh-100">


    <div class=" w-100 bg-danger flex-fill border">
        <div class="text-uppercase font-italic d-flex justify-content-center">favoris</div>
    </div>

    <div class=" w-100 bg-warning flex-fill border">
        <div class="text-uppercase font-italic d-flex justify-content-center">suivis</div>
    </div>

    <div class=" w-100 bg-success flex-fill border">
        <div class="text-uppercase font-italic d-flex justify-content-center">collections</div>
    </div>

</div>


<div class="d-flex justify-content-around vw-100 vh-100" >
    <div class="border w-100 d-flex flex-column">
        <div class="accordion" id="accordionFavoris">

            <!--Album-->
            <div class="card">
                <div class="card-header" id="headingAlbumFavoris">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAlbumFavoris" aria-expanded="true" aria-controls="collapseAlbumFavoris">
                            Album
                        </button>
                    </h5>
                </div>

                <div id="collapseAlbumFavoris" class="collapse" aria-labelledby="headingAlbumFavoris" data-parent="#accordionFavoris">
                    <div id="resFavorisAlbum" class="card-body">
                        favoris album
                    </div>
                </div>
            </div>
            <!--Serie-->
            <div class="card">
                <div class="card-header" id="headingSerieFavoris">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSerieFavoris" aria-expanded="true" aria-controls="collapseSerieFavoris">
                            Serie
                        </button>
                    </h5>
                </div>

                <div id="collapseSerieFavoris" class="collapse" aria-labelledby="headingSerieFavoris" data-parent="#accordionFavoris">
                    <div id="resFavorisSerie" class="card-body">
                        favoris serie
                    </div>
                </div>
            </div>
            <!--Auteur-->
            <div class="card">
                <div class="card-header" id="headingAuteurFavoris">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAuteurFavoris" aria-expanded="true" aria-controls="collapseAuteurFavoris">
                            Auteur
                        </button>
                    </h5>
                </div>

                <div id="collapseAuteurFavoris" class="collapse" aria-labelledby="headingAuteurFavoris" data-parent="#accordionFavoris">
                    <div id="resFavorisAuteur" class="card-body">
                        favoris auteur
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="border w-100 d-flex flex-column">
        <div class="accordion" id="accordionSuivis">

            <!--Album-->
            <div class="card">
                <div class="card-header" id="headingAlbumSuivis">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAlbumSuivis" aria-expanded="true" aria-controls="collapseAlbumSuivis">
                            Album
                        </button>
                    </h5>
                </div>

                <div id="collapseAlbumSuivis" class="collapse" aria-labelledby="headingAlbumSuivis" data-parent="#accordionSuivis">
                    <div id="resSuivisAlbum"  class="card-body">
                        album suivis
                    </div>
                </div>
            </div>
            <!--Serie-->
            <div class="card">
                <div class="card-header" id="headingSerieSuivis">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSerieSuivis" aria-expanded="true" aria-controls="collapseSerieSuivis">
                            Serie
                        </button>
                    </h5>
                </div>

                <div id="collapseSerieSuivis" class="collapse" aria-labelledby="headingSerieSuivis" data-parent="#accordionSuivis">
                    <div id="resSuivisSerie" class="card-body">
                        serie suivi
                    </div>
                </div>
            </div>
            <!--Auteur-->
            <div class="card">
                <div class="card-header" id="headingAuteurSuivis">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAuteurSuivis" aria-expanded="true" aria-controls="collapseAuteurSuivis">
                            Auteur
                        </button>
                    </h5>
                </div>

                <div id="collapseAuteurSuivis" class="collapse" aria-labelledby="headingAuteurSuivis" data-parent="#accordionSuivis">
                    <div id="resSuivisAuteur"  class="card-body">
                        auteur suivis
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="border w-100 d-flex flex-column">
        <div class="accordion" id="accordionCollection">

            <!--Album-->
            <div class="card">
                <div class="card-header" id="headingAlbumCollection">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAlbumCollection" aria-expanded="true" aria-controls="collapseAlbumCollection">
                            Album
                        </button>
                    </h5>
                </div>

                <div id="collapseAlbumCollection" class="collapse" aria-labelledby="headingAlbumCollection" data-parent="#accordionCollection">
                    <div id="resCollectionsAlbum" class="card-body">
                        collection album
                    </div>
                </div>
            </div>
            <!--Serie-->
            <div class="card">
                <div class="card-header" id="headingSerieCollection">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSerieCollection" aria-expanded="true" aria-controls="collapseSerieCollection">
                            Serie
                        </button>
                    </h5>
                </div>

                <div id="collapseSerieCollection" class="collapse" aria-labelledby="headingSerieCollection" data-parent="#accordionCollection">
                    <div id="resCollectionsSerie" class="card-body">
                        collection serie
                    </div>
                </div>
            </div>
            <!--Auteur-->
            <div class="card">
                <div class="card-header" id="headingAuteurCollection">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAuteurCollection" aria-expanded="true" aria-controls="collapseAuteurCollection">
                            Auteur
                        </button>
                    </h5>
                </div>

                <div id="collapseAuteurCollection" class="collapse" aria-labelledby="headingAuteurCollection" data-parent="#accordionCollection">
                    <div id="resCollectionsAuteur" class="card-body">
                        collection auteur
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




</body>
</html>