<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Serie</title>
    <title>Bande De Hoey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/header.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="../static/javascript/serie.js"></script>
    <script>
        $(function(){
            $("#header").load("header.html");
        });

    </script>
</head>
<body>
    <div id="header"></div>
    <label for="serie-select">Recherche par :</label>
    <select name="album" id="serie-select">
        <option value="title">by title</option>
        <option value="type">by type</option>
        <option value="etat">by etat</option>
        <option value="format">by format</option>
        <option value="auteur">by auteur</option>
    </select>

    <div>
        <input type="search" id="serie-search" name="search" placeholder="Recherche...">
        <input type="submit" id="submit-id" name="submit"  value="Validez" />
    </div>
    <div id="res">
    </div>
    <table >
        <colgroup span="4"></colgroup>
        <thead>
            <tr>
                <th colspan="2">The table header</th>
            </tr>
        </thead>
        <tbody id="table">
            <tr>
                <th>titre</th>
                <th>etat</th>
                <th>albums</th>
                <th>auteurs</th>
                <th>nb albums</th>
                <th>format</th>
                <th>type</th>
            </tr>
        </tbody>
    </table>
    <script>
    </script>
</body>
</html>